{% extends 'base.html'%}
{% load static %}


    {% block content %}
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Sidebar Section -->
    
       
    <!-- Main Section -->
    
    <div id="ovon-main">
        <!-- Banner -->
        <section class="ready banner-padding bg-img" id="ready-banner" data-overlay-dark="4" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <div class="title animate-box" data-animate-effect="fadeInUp"> <span><a href="index.html#services">Olivia Vonda</a></span>
                                <h2>About Me</h2>
                                <hr class="line line-hr-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <!-- About -->
        <div id="about" class="about section-padding" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-img mb-30 img-fluid animate-box" id="about-animate" data-animate-effect="fadeInUp">
                            <div class="about-img-2 signature" id="about-image-22"></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box" data-animate-effect="fadeInUp">
                        <div class="title"> <span>About Me</span>
                            <h2>Olivia Vonda</h2>
                            <hr class="line line-hr-secondary">
                        </div>
                        <p>Hi, I'm Olivia a Professional Makeup Artist. Quisque luctus tincidunt enim dapibus pharetra neue ultricies at. Morbi dapibus mauris id scelerisque placerat nula massa lacinia orci in facilisis nulla quam volutpat lectus. Nunc elementum ante commodo felis hendrerit.</p>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Makeup a urnue sem tempor ullamcorper. Praesent sapien felis porttitor ut eros pharetra fermentum solli citudi metus. Quisque facilisis libero libero eget cursus ex maximus non. Quisque volutpat venenatis lacus. Nullam ac sapien sed metus varius mattis et vel magna.</p>
                        <br />
                        <!-- Awards -->
                        <div class="row awards">
                            <div class="col-md-12">
                                <div class="title"> <span>Awards</span> </div>
                            </div>
                            <div class="col-md-12 owl-carousel owl-theme">
                                <div class="awards-logo">
                                    <a href="#"><img src="{% static 'img/awards/1.jpg' %}" alt=""></a>
                                </div>
                                <div class="awards-logo">
                                    <a href="#"><img src="{% static 'img/awards/2.jpg' %}" alt=""></a>
                                </div>
                                <div class="awards-logo">
                                    <a href="#"><img src="{% static 'img/awards/3.jpg' %}" alt=""></a>
                                </div>
                                <div class="awards-logo">
                                    <a href="#"><img src="{% static 'img/awards/4.jpg' %}" alt=""></a>
                                </div>
                                <div class="awards-logo">
                                    <a href="#"><img src="{% static 'img/awards/5.jpg' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Icon Banner -->
        <section class="services-banner-wrap">
            <div class="container">
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <img src="{% static 'img/banner2.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="cont">
                                <div class="row gx-0">
                                    <div class="col-6 col-md-4 services-banner">
                                        <div class="icon"><span class="flaticon-039-make-up"></span></div>
                                        <h6>Facial Makeup</h6>
                                    </div>
                                    <div class="col-6 col-md-4 services-banner">
                                        <div class="icon"><span class="flaticon-007-mascara-4"></span></div>
                                        <h6>Eyelash Makeup</h6>
                                    </div>
                                    <div class="col-6 col-md-4 services-banner">
                                        <div class="icon"><span class="flaticon-013-facial-mask-1"></span></div>
                                        <h6>Eye Makeup</p>
                                    </div>
                                    <div class="col-6 col-md-4 services-banner">
                                        <div class="icon"><span class="flaticon-034-eyebrow"></span></div>
                                        <h6>Eyebrow Makeup</h6>
                                    </div>
                                    <div class="col-6 col-md-4 services-banner">
                                        <div class="icon"><span class="flaticon-018-scissors"></span></div>
                                        <h6>Haircut Makeup</h6>
                                    </div>
                                    <div class="col-6 col-md-4 services-banner">
                                        <div class="icon"><span class="flaticon-037-dressing-table"></span></div>
                                        <h6>Dressing Table</h6>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Team -->
        <section id="team" class="team section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title mb-30"> <span>Our Awesome</span>
                            <h2>Makeup Artist</h2>
                            <hr class="line line-hr-secondary">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 owl-carousel">
                        <div class="team-card mb-30">
                            <div class="team-img"><img src="{% static 'img/team/3.jpg' %}" alt="" class="w-100"></div>
                            <div class="team-content">
                                <h3 class="team-title">Anna Brown</h3>
                                <p class="team-text">Hello, I’am Anna. I love people love to fell beautiful, which is the reason I’ve spent last 10 years engulfed in doing Make up.</p>
                            </div>
                            <div class="title-box">
                                <h3 class="mb-0">Anna Brown</h3>
                            </div>
                        </div>
                        <div class="team-card mb-30">
                            <div class="team-img"><img src="{% static 'img/team/2.jpg' %}" alt="" class="w-100"></div>
                            <div class="team-content">
                                <h3 class="team-title">Robert White</h3>
                                <p class="team-text">Hello, I’am Robert. I love people love to fell beautiful, which is the reason I’ve spent last 7 years engulfed in doing Make up.</p>
                            </div>
                            <div class="title-box">
                                <h3 class="mb-0">Robert White</h3>
                            </div>
                        </div>
                        <div class="team-card mb-30">
                            <div class="team-img"><img src="{% static 'img/team/1.jpg' %}" alt="" class="w-100"></div>
                            <div class="team-content">
                                <h3 class="team-title">Yvonne Scott</h3>
                                <p class="team-text">Hello, I’am Yvonne. I love people love to fell beautiful, which is the reason I’ve spent last 5 years engulfed in doing Make up.</p>
                            </div>
                            <div class="title-box">
                                <h3 class="mb-0">Yvonne Scott</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">

        <!-- scripts -->
        <script>
        $('.awards .owl-carousel').owlCarousel({
            loop: true
            , margin: 15
            , mouseDrag: true
            , autoplay: true
            , dots: false
            , responsiveClass: true
            , responsive: {
                0: {
                    margin: 10
                    , items: 2
                }
                , 600: {
                    items: 3
                }
                , 1000: {
                    items: 4
                }
            }
        });
        
        
        // Team owlCarousel
        $('.team .owl-carousel').owlCarousel({
            loop: true
            , margin: 30
            , dots: true
            , mouseDrag: true
            , autoplay: false
            , responsiveClass: true
            , responsive: {
                0: {
                    items: 1
                }
                , 600: {
                    items: 2
                }
                , 1000: {
                    items: 3
                }
            }
        });
    </script>

        {% endblock %}
        <!-- Footer -->
        
    
