{% extends 'base.html' %}
{% load static %}



{% block content %}
    <!-- Main Section -->
    
    <!-- Banner -->
    <section class="ready banner-padding bg-img" id="ready-banner" data-overlay-dark="4" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left">
                        <div class="title animate-box" data-animate-effect="fadeInUp"> 
                            <span><a href="blog.html">Blog</a></span>
                            <h2>Latest News</h2>
                            <hr class="line line-hr-secondary"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="line-vr-section">
    <!-- Blog -->
    <section id="blog" class="blog section-padding">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="item">
                                <div class="post-img">
                                    <a href="post2.html"> <img src="img/blog/2.jpg" alt=""> </a>
                                </div>
                                <div class="post-cont"> <a href="blog.html"><span class="tag">Eye Makeup</span></a>
                                    <h4>
                                <a href="post2.html">Dark Smokey Eye Makeup</a>
                            </h4>
                                    <p>Eye makeup facilisis libero libero, eget cursus ex maximus non kuisque volutpat venenatis lacus sed the hendrerit nisi. Vivense facilisis libero libero eget cursus ex maximus non kuisque volutpat venenatis lacus sed hendrerit the drana connect...</p>
                                    <div class="info">24 July 2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="item">
                                <div class="post-img">
                                    <a href="post3.html"> <img src="img/blog/3.jpg" alt=""> </a>
                                </div>
                                <div class="post-cont"> <a href="blog.html"><span class="tag">Effects Makeup</span></a>
                                    <h4>
                                <a href="post3.html">10 Special Effects Makeup</a>
                            </h4>
                                    <p>Effects facilisis libero libero, eget cursus ex maximus non kuisque volutpat venenatis lacus sed the hendrerit nisi. Vivense facilisis libero libero eget cursus ex maximus non kuisque volutpat venenatis lacus sed hendrerit the drana connect...</p>
                                    <div class="info">21 July 2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="item">
                                <div class="post-img">
                                    <a href="post.html"> <img src="img/blog/1.jpg" alt=""> </a>
                                </div>
                                <div class="post-cont"> <a href="blog.html"><span class="tag">Bridal Makeup</span></a>
                                    <h4>
                                <a href="post.html">2023 Bridal Beauty Trends</a>
                            </h4>
                                    <p>Quisque facilisis libero libero, eget cursus ex maximus non kuisque volutpat venenatis lacus sed the hendrerit nisi. Vivense facilisis libero libero eget cursus ex maximus non kuisque volutpat venenatis lacus sed hendrerit the drana connect...</p>
                                    <div class="info">27 July 2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="item">
                                <div class="post-img">
                                    <a href="post4.html"> <img src="img/blog/4.jpg" alt=""> </a>
                                </div>
                                <div class="post-cont"> <a href="blog.html"><span class="tag">Eye Makeup</span></a>
                                    <h4>
                                <a href="post4.html">The Best Eye Makeup Trends</a>
                            </h4>
                                    <p>Quisque facilisis libero libero, eget cursus ex maximus non kuisque volutpat venenatis lacus sed the hendrerit nisi. Vivense facilisis libero libero eget cursus ex maximus non kuisque volutpat venenatis lacus sed hendrerit the drana connect...</p>
                                    <div class="info">24 July 2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="item">
                                <div class="post-img">
                                    <a href="post5.html"> <img src="img/blog/5.jpg" alt=""> </a>
                                </div>
                                <div class="post-cont"> <a href="blog.html"><span class="tag">Lashes</span></a>
                                    <h4>
                                <a href="post5.html">Mascara Tips for Loud & Clean Lashes</a>
                            </h4>
                                    <p>Quisque facilisis libero libero, eget cursus ex maximus non kuisque volutpat venenatis lacus sed the hendrerit nisi. Vivense facilisis libero libero eget cursus ex maximus non kuisque volutpat venenatis lacus sed hendrerit the drana connect...</p>
                                    <div class="info">20 July 2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="item">
                                <div class="post-img">
                                    <a href="post6.html"> <img src="img/blog/6.jpg" alt=""> </a>
                                </div>
                                <div class="post-cont"> <a href="blog.html"><span class="tag">Makeup</span></a>
                                    <h4>
                                <a href="post6.html">5-Minute Natural Makeup Tutorial</a>
                            </h4>
                                    <p>Quisque facilisis libero libero, eget cursus ex maximus non kuisque volutpat venenatis lacus sed the hendrerit nisi. Vivense facilisis libero libero eget cursus ex maximus non kuisque volutpat venenatis lacus sed hendrerit the drana connect...</p>
                                    <div class="info">10 July 2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- Pagination -->
                            <ul class="blog-pagination-wrap align-center">
                                <li><a href="blog.html#"><i class="ti-arrow-left"></i></a></li>
                                <li><a href="blog.html#">1</a></li>
                                <li><a href="blog.html#" class="active">2</a></li>
                                <li><a href="blog.html#">3</a></li>
                                <li><a href="blog.html#"><i class="ti-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                    <div class="blog-sidebar row">
                        <div class="col-md-12">
                            <div class="widget search">
                                <form>
                                    <input type="text" name="search" placeholder="Type here ...">
                                    <button type="submit"><i class="ti-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Recent Posts</h6> </div>
                                <ul class="recent">
                                    <li>
                                        <div class="thum"> <img src="img/blog/1.jpg" alt=""> </div> <a href="post.html">2023 Bridal Beauty Trends</a> </li>
                                    <li>
                                        <div class="thum"> <img src="img/blog/2.jpg" alt=""> </div> <a href="post2.html">Dark Smokey Eye Makeup</a> </li>
                                    <li>
                                        <div class="thum"> <img src="img/blog/3.jpg" alt=""> </div> <a href="post3.html">10 Special Effects Makeup</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Archives</h6> </div>
                                <ul>
                                    <li><a href="#">June 2023</a></li>
                                    <li><a href="#">July 2023</a></li>
                                    <li><a href="#">August 2023</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Categories</h6> </div>
                                <ul>
                                    <li><a href="#"><i class="ti-angle-right"></i>Eye Makeup</a></li>
                                    <li><a href="#"><i class="ti-angle-right"></i>Bridal Makeup</a></li>
                                    <li><a href="#"><i class="ti-angle-right"></i>Effect Makeup</a></li>
                                    <li><a href="#"><i class="ti-angle-right"></i>Child Face Painting</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Tags</h6> </div>
                                <ul class="tags">
                                    <li><a href="#">Makeup</a></li>
                                    <li><a href="#">Bridal</a></li>
                                    <li><a href="#">Effect</a></li>
                                    <li><a href="#">Child Face Painting</a></li>
                                    <li><a href="#">Hair Makeup</a></li>
                                    <li><a href="#">Face Makeup</a></li>
                                    <li><a href="#">Eye Makeup</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>$('.ovon-main-menu li.ovon-sub>a').on('click', function () {
        $(this).removeAttr('href');
        var element = $(this).parent('li');
        if (element.hasClass('open')) {
            element.removeClass('open');
            element.find('li').removeClass('open');
            element.find('ul').slideUp();
        }
        else {
            element.addClass('open');
            element.children('ul').slideDown();
            element.siblings('li').children('ul').slideUp();
            element.siblings('li').removeClass('open');
            element.siblings('li').find('li').removeClass('open');
            element.siblings('li').find('ul').slideUp();
        }
    });
    $('.ovon-main-menu>ul>li.ovon-sub>a').append('<span class="holder"></span>');
    // Document on load.
    $(function () {
        contentWayPoint();
        burgerMenu();
        mobileMenuOutsideClick();
    });
    var wind = $(window);
    </script>
    
    {% endblock %}

