{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Main Section -->
    
        <!-- Banner -->
        <section class="ready banner-padding bg-img" data-overlay-dark="4" id="ready-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <div class="title animate-box" data-animate-effect="fadeInUp"> <span><a href="index.html#services">Gallery</a></span>
                                <h2>Portfolio</h2>
                                <hr class="line line-hr-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <!-- Portfolio -->
        <section id="portfolio" class="section-padding animate-box" data-animate-effect="fadeInUp">
            <div class="container">
                <div class="row mb-30">
                    <div class="col-md-4 gallery-item">
                        <a href="img/portfolio/p1.png" title="Fashion Makeup" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{% static 'img/portfolio/p1.png' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="{% static 'img/portfolio/p2.png' %}" title="Eye Makeup" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{% static 'img/portfolio/p2.png' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="img/portfolio/p3.jpg" title="Painting Makeup" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{% static 'img/portfolio/p3.jp' %}'" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="img/portfolio/p4.jpg" title="Bridal Makeup" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{% static 'img/portfolio/p4.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="img/portfolio/p5.jpg" title="Effect Makeup" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{% static 'img/portfolio/p5.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="img/portfolio/p6.jpg" title="Fashion Makeup" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{% static 'img/portfolio/p6.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                    <a href="img/portfolio/p7.jpg" title="Child Face Makeup" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="{% static 'img/portfolio/p7.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="img/portfolio/p8.jpg" title="Fantastic Makeup" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="{% static 'img/portfolio/p8.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="img/portfolio/p9.jpg" title="Effect Makeup" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="{% static 'img/portfolio/p9.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                        </div>
                    </a>
                </div>
                </div>
            </div>
        </section>
        
        <script>$('.ovon-main-menu li.ovon-sub>a').on('click', function () {
            $(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp();
            }
            else {
                element.addClass('open');
                element.children('ul').slideDown();
                element.siblings('li').children('ul').slideUp();
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp();
            }
        });
        $('.ovon-main-menu>ul>li.ovon-sub>a').append('<span class="holder"></span>');
        // Document on load.
        $(function () {
            contentWayPoint();
            burgerMenu();
            mobileMenuOutsideClick();
        });
        var wind = $(window);
        </script>
    
    {% endblock %}
    
