{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Banner -->
        <section class="ready banner-padding bg-img" data-overlay-dark="4" id="pages-services-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <div class="title animate-box" data-animate-effect="fadeInUp"> <span><a href="services.html">Services</a></span>
                                <h2>Combiniation Brows</h2>
                                <hr class="line line-hr-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <!-- Services -->
        <section id="projectpage" class="project section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img"> <img src="{% static 'img/services/s2.jpg' %}" class="img-fluid mb-30" alt=""> </div>
                                <h3>The Perfect Blend: Combo Brows at Bella's Beauty Oasis</h3>
                                <p>Unlock the harmonious balance between the soft elegance of ombre shading and the natural definition of microblading with our sought-after combo brows. At Bella's Beauty Oasis, we introduce you to the artistry of combo brows, the ultimate solution for eyebrow perfection.</p>
                            </br>
                            <h3>What Are Combo Brows?</h3>
                            <p>Combo brows, often referred to as "combination brows," are a versatile semi-permanent makeup technique that combines the best of both worlds: the soft, shaded effect of ombre brows and the hair-like strokes of microblading. This fusion results in beautifully defined, yet naturally textured eyebrows.</p>
                        </br>
                            <h3>Why Choose Combo Brows?</h3>
                            <div class="list">     
                                <ul>
                                  <li><span><strong>Customized Beauty:</strong> Achieve brows tailored to your unique face shape, featuring the ideal combination of shading and microblading for a personalized look.</span></li>
                                  <li><span><strong>Timeless Elegance:</strong> Enjoy long-lasting, low-maintenance brows that enhance your beauty for up to two years.
                                  </span></li>
                                  <li><span><strong>Natural Appearance:</strong> Combo brows mimic the appearance of real hair and create a soft, gradient effect that complements your features.
                                  </span></li>
                                  <li><span><strong>Expert Technique:</strong> Our esthetician, Bella, is a master of this art, ensuring your comfort and satisfaction throughout the process.
                                  </span></li>
                                </ul>
                              </div>

                            </br>

                              <h3>The Bella's Beauty Oasis Difference</h3>
                              <p>At Bella's Beauty Oasis, we are dedicated to perfecting your brows with precision and care. Our combo brow technique is a testament to Bella's expertise and her unwavering commitment to enhancing your natural beauty.
                                Using premium pigments and advanced techniques, we craft combo brows that are uniquely yours, seamlessly blending with your features. Our goal is to provide you with brows that exude confidence and grace, framing your face in a way that leaves a lasting impression.</p>

                              </br>

                              <h3>Experience the Magic of Combo Brows</h3>
                              <p>Ready to experience the perfect blend of shading and microblading? Contact Bella's Beauty Oasis today to schedule your consultation. Let us take you on a journey to discover the power of combo brows that effortlessly elevate your beauty.

                                Explore combo brows at Bella's Beauty Oasis and embrace a new level of timeless elegance. Your path to impeccable brows begins here.</p>
                            </div>
                        </div>
                        <div class="row services-price mb-30">
                            <div class="col-md-12">
                                <div class="services-price-info">
                                    <h5 class="title">Hair Wash<span class="price">$20,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                                <div class="services-price-info">
                                    <h5 class="title">Hair Coloring<span class="price">$75,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                                <div class="services-price-info">
                                    <h5 class="title">Blow Dry Hair <span class="price">$30,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- gallery -->
                        <div class="row mb-30">
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g1.jpg' %}" title="Eye Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g1.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g2.jpg' %}" title="Painting Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g2.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g3.jpg' %}" title="Bridal Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g3.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g4.jpg' %}" title="Effect Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g4.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g5.jpg' %}" title="Fashion Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g5.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g6.jpg' %}" title="Fashion Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g6.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% include 'includes/blog-sidebar.html' %}
                </div>
            </div>
        </section>
    {% endblock %}
  
    
