{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Banner -->
        <section class="ready banner-padding bg-img" data-overlay-dark="4" id="pages-services-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <div class="title animate-box" data-animate-effect="fadeInUp"> <span><a href="services.html">Esthetician Services</a></span>
                                <h2>Ombre Brows</h2>
                                <hr class="line line-hr-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <!-- Services -->
        <section id="projectpage" class="project section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img"> <img src="img/services/s7.jpg" class="img-fluid mb-30" alt=""> </div>
                                <h3>Elevate Your Look with Ombre Brows</h3>
                                <p>Ombre brows are the secret to achieving soft, gradient, and impeccably shaped eyebrows that will leave you feeling runway-ready every day. At Bella's Beauty Oasis, we're excited to introduce you to the world of ombre brows, where beauty meets artistry.</p>
                            </br>
                                <h3>The Artistry of Ombre Brows</h3>
                                <p>Powder brows, also known as microshading or ombre brows, are a semi-permanent cosmetic eyebrow technique. Unlike microblading, which creates hair-like strokes, powder brows involve using a machine to deposit pigment in a more diffused, powdered effect throughout the eyebrow area. This technique results in a soft, shaded appearance resembling the look of filled-in eyebrows using makeup powder. Powder brows tend to last longer than microblading and are suitable for various skin types, especially oily or combination skin.</p>
                        </br>
                            <h3>Why Choose Ombre Brows? </h3>
                            <div class="list">     
                                <ul>
                                  <li><span><strong>Effortless Elegance:</strong> Wake up with perfectly shaded brows that require minimal daily maintenance.</span></li>
                                  <li><span><strong>Customized Perfection:</strong>  We work closely with you to determine the ideal shape and color gradient to harmonize with your unique face.
                                  </span></li>
                                  <li><span><strong>Long-Lasting Beauty:</strong> Enjoy the benefits of flawlessly defined brows for up to two years.</span></li>
                                  <li><span><strong>Comfort & Safety:</strong> Our esthetician, Bella, ensures your comfort throughout the procedure and maintains the highest hygiene standards.
                                  </span></li>
                                </ul>
                              </div>

                            </div>
                        </div>
                        <div class="row services-price mb-30">
                            <div class="col-md-12">
                                <div class="services-price-info">
                                    <h5 class="title">Hair Wash<span class="price">$20,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                                <div class="services-price-info">
                                    <h5 class="title">Hair Coloring<span class="price">$75,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                                <div class="services-price-info">
                                    <h5 class="title">Blow Dry Hair <span class="price">$30,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                            </div>
                        </div>
                        <!-- gallery -->
                        <div class="row mb-30">
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g1.jpg' %}" title="Eye Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g1.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g2.jpg' %}" title="Painting Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g2.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g3.jpg' %}" title="Bridal Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g3.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g4.jpg' %}" title="Effect Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g4.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g5.jpg' %}" title="Fashion Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g5.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g6.jpg' %}" title="Fashion Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g6.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    {% include 'includes/blog-sidebar.html' %}

                </div>
            </div>
        </section>
        <script>$('.ovon-main-menu li.ovon-sub>a').on('click', function () {
            $(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp();
            }
            else {
                element.addClass('open');
                element.children('ul').slideDown();
                element.siblings('li').children('ul').slideUp();
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp();
            }
        });
        $('.ovon-main-menu>ul>li.ovon-sub>a').append('<span class="holder"></span>');
        // Document on load.
        $(function () {
            contentWayPoint();
            burgerMenu();
            mobileMenuOutsideClick();
        });
        var wind = $(window);
        </script>
        {% endblock %}