{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Section -->
    
        <!-- Banner -->
        <section class="ready banner-padding bg-img" data-overlay-dark="4" id="pages-services-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <div class="title animate-box" data-animate-effect="fadeInUp"> <span><a href="services.html">Services</a></span>
                                <h2>Eye Makeup</h2>
                                <hr class="line line-hr-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <!-- Services -->
        <section id="projectpage" class="project section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img"> <img src="img/services/s7.jpg" class="img-fluid mb-30" alt=""> </div>
                                <h3>Eye Makeup</h3>
                                <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare. Morbi mollis a enim nec ullase emcorper. Proin condimentum ut mauris ut placerat. Donec commodo diam lorem, commodo viverra metus mollis nec. Nam vehicula ipsum faucibus at eros vitae dui pulvina the ornare.</p>
                                <p>Morbi mollis a enim nec ullamcorper. Proin condimentum ut mauris ut placerat. Donec commodo diamlorem, commodo viverra metus mollis vehicula ipsum faucibus.</p>
                            </div>
                        </div>
                        <div class="row services-price mb-30">
                            <div class="col-md-12">
                                <div class="services-price-info">
                                    <h5 class="title">Hair Wash<span class="price">$20,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                                <div class="services-price-info">
                                    <h5 class="title">Hair Coloring<span class="price">$75,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                                <div class="services-price-info">
                                    <h5 class="title">Blow Dry Hair <span class="price">$30,00</span></h5>
                                    <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                </div>
                            </div>
                        </div>
                        <!-- gallery -->
                        <div class="row mb-30">
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g1.jpg' %}" title="Eye Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g1.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g2.jpg' %}" title="Painting Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g2.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g3.jpg' %}" title="Bridal Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g3.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g4.jpg' %}" title="Effect Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g4.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g5.jpg' %}" title="Fashion Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g5.jpg' %}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 gallery-item">
                                <a href="{% static 'img/services/g6.jpg' %}" title="Fashion Makeup" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{% static 'img/services/g6.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 sidebar-side animate-box" data-animate-effect="fadeInUp">
                        <aside class="sidebar blog-sidebar">
                            <div class="sidebar-widget services">
                                <div class="widget-inner">
                                    <div class="sidebar-title">
                                        <h4>Services</h4>
                                    </div>
                                    <ul>
                                        <li class="active"><a href="{% url 'eye-makeup' %}">Eye Makeup</a></li>
                                        <li><a href="{% url 'hair-makeup' %}">Hair Makeup</a></li>
                                        <li><a href="{% url 'fashion-makeup' %}">Fashion Makeup</a></li>
                                        <li><a href="{% url 'face-makeup' %}">Face Makeup</a></li>
                                        <li><a href="{% url 'fantastic-makeup' %}">Fantastic Makeup</a></li>
                                        <li><a href="{% url 'effect-makeup' %}">Effect Makeup</a></li>
                                        <li><a href="{% url 'child-face-painting' %}">Child Face Painting</a></li><li><a href="bridal-makeup.html">Bridal Makeup</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>

                </div>
            </div>
        </section>
        <script>$('.ovon-main-menu li.ovon-sub>a').on('click', function () {
            $(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp();
            }
            else {
                element.addClass('open');
                element.children('ul').slideDown();
                element.siblings('li').children('ul').slideUp();
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp();
            }
        });
        $('.ovon-main-menu>ul>li.ovon-sub>a').append('<span class="holder"></span>');
        // Document on load.
        $(function () {
            contentWayPoint();
            burgerMenu();
            mobileMenuOutsideClick();
        });
        var wind = $(window);
        </script>
        {% endblock %}
