{% extends 'base.html'%}
{% load static %}

{% block content %}
    <!-- Main Section -->
    <div id="ovon-main">
        <!-- Banner -->
        <section class="ready banner-padding bg-img" id="team-banner" data-overlay-dark="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <div class="title animate-box" data-animate-effect="fadeInUp"> <span><a href="index.html#services">Our Awesome</a></span>
                                <h2>Makeup Artist</h2>
                                <hr class="line line-hr-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <!-- Team -->
        <section id="team" class="team section-padding animate-box" data-animate-effect="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-card mb-30">
                            <div class="team-img"><img src="{% static 'img/team/3.jpg' %}" alt="" class="w-100"></div>
                            <div class="team-content">
                                <h3 class="team-title">Anna Brown</h3>
                                <p class="team-text">Hello, I’am Anna. I love people love to fell beautiful, which is the reason I’ve spent last 10 years engulfed in doing Make up.</p>
                            </div>
                            <div class="title-box">
                                <h3 class="mb-0">Anna Brown</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card mb-30">
                            <div class="team-img"><img src="{% static 'img/team/2.jpg' %}" alt="" class="w-100"></div>
                            <div class="team-content">
                                <h3 class="team-title">Robert White</h3>
                                <p class="team-text">Hello, I’am Robert. I love people love to fell beautiful, which is the reason I’ve spent last 7 years engulfed in doing Make up.</p>
                            </div>
                            <div class="title-box">
                                <h3 class="mb-0">Robert White</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card mb-30">
                            <div class="team-img"><img src="{% static 'img/team/1.jpg' %}" alt="" class="w-100"></div>
                            <div class="team-content">
                                <h3 class="team-title">Yvonne Scott</h3>
                                <p class="team-text">Hello, I’am Yvonne. I love people love to fell beautiful, which is the reason I’ve spent last 5 years engulfed in doing Make up.</p>
                            </div>
                            <div class="title-box">
                                <h3 class="mb-0">Yvonne Scott</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="line-vr-section">
        <script>$('.ovon-main-menu li.ovon-sub>a').on('click', function () {
            $(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp();
            }
            else {
                element.addClass('open');
                element.children('ul').slideDown();
                element.siblings('li').children('ul').slideUp();
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp();
            }
        });
        $('.ovon-main-menu>ul>li.ovon-sub>a').append('<span class="holder"></span>');
        // Document on load.
        $(function () {
            contentWayPoint();
            burgerMenu();
            mobileMenuOutsideClick();
        });
        var wind = $(window);
        </script>
        {% endblock %}
