<div class="col-md-4 sidebar-side animate-box" data-animate-effect="fadeInUp">
    <aside class="sidebar blog-sidebar">
        <div class="sidebar-widget services">
            <div class="widget-inner">
                <div class="sidebar-title">
                    <h4>Services</h4>
                </div>
                <ul>
                    <li class="{% if '/eye-makeup/' in request.path %}active{% endif %}"><a href="{% url 'eye-makeup' %}">Microblading</a></li>
                    <li class="{% if '/hair-makeup/' in request.path %}active{% endif %}"><a href="{% url 'hair-makeup' %}">Ombre Brow</a></li>
                    <li class="{% if '/fashion-makeup/' in request.path %}active{% endif %}"><a href="{% url 'fashion-makeup' %}">Combination</a></li>
                    <li class="{% if '/face-makeup/' in request.path %}active{% endif %}"><a href="{% url 'face-makeup' %}">Lash Extension</a></li>
                    <li class="{% if '/fantastic-makeup/' in request.path %}active{% endif %}"><a href="{% url 'fantastic-makeup'%}">Lash Lift</a></li>
                    <li class="{% if '/effect-makeup/' in request.path %}active{% endif %}"><a href="{% url 'effect-makeup'%}">Lash Tinting</a></li>
                    <li class="{% if '/child-face-painting/' in request.path %}active{% endif %}"><a href="{% url 'child-face-painting'%}">Brow Tint and Shape</a></li>
                    <li class="{% if '/bridal-makeup/' in request.path %}active{% endif %}"><a href="{% url 'bridal-makeup'%}">Brow Lamination</a></li>
                    <li class="{% if '/bridal-makeup/' in request.path %}active{% endif %}"><a href="{% url 'bridal-makeup'%}">Semi-Perm Freckle Tattoo</a></li>
                    <li class="{% if '/bridal-makeup/' in request.path %}active{% endif %}"><a href="{% url 'bridal-makeup'%}">Semi-Perm Beauty Marks</a></li>
                </ul>
            </div>
        </div>
    </aside>
</div>