{% load static %}
 <!-- line -->
 <hr class="line-vr-section">

 <footer class="main-footer">
     <div class="container">
         <div class="row">
             <div class="col-md-4 mb-30">
                 <a href="index.html"> <img src="{% static 'img/logo-dark.png' %}" alt=""> </a>
                 <p>Hi, I'm Olivia a Professional Makeup Artist. Quisque luctus tincidunt enim daibus miss neuenete ultrie ectus.</p>
                 <div class="social-icon"> <a href="index.html"><i class="ti-facebook"></i></a> <a href="index.html"><i class="ti-twitter"></i></a> <a href="index.html"><i class="ti-instagram"></i></a> <a href="index.html"><i class="ti-pinterest"></i></a> </div>
             </div>
             <div class="col-md-4 mb-30">
                 <h6>Get in touch</h6>
                 <ul class="list-unstyled footer-list">
                     <li>
                         <div class="icon"><i class="ti-headphone-alt"></i></div>
                         <div class="text">
                             <p><a href="tel:+1-650-444-0000">+1 650-444-0000</a></p>
                         </div>
                     </li>
                     <li>
                         <div class="icon"> <i class="ti-email"></i> </div>
                         <div class="text">
                             <p><a href="mailto:makeup@ovon.com">makeup@ovon.com</a></p>
                         </div>
                     </li>
                     <li>
                         <div class="icon"> <i class="ti-location-pin"></i> </div>
                         <div class="text">
                             <p>525 West Ave, CT 06850 Norwalk</p>
                         </div>
                     </li>
                 </ul>
             </div>
             <div class="col-md-4 mb-30">
                 <h6>Opening Hours</h6>
                 <div class="footer-table">
                     <table>
                         <tbody>
                             <tr>
                                 <td>Mon - Fri :</td>
                                 <td>10am - 7pm</td>
                             </tr>
                             <tr>
                                 <td>Saturday :</td>
                                 <td>10am - 5pm</td>
                             </tr>
                             <tr>
                                 <td>Sunday :</td>
                                 <td><a href="tel:+1-650-444-0000">By Call</a></td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
     <div class="sub-footer">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <div class="text-left">
                         <p>© Copyright 2023. All right reserved.</p>
                     </div>
                 </div>
                 <div class="col-md-5">
                     <p class="right"><a href="#">Terms &amp; Conditions</a></p>
                 </div>
             </div>
         </div>
     </div>
 </footer>

<!-- jQuery -->
