



<a href="#" class="js-ovon-nav-toggle ovon-nav-toggle"><i></i></a>
<aside id="ovon-aside">
    <!-- Logo -->
    <div class="ovon-logo">
        <a href="index.html"> <img src="img/logo-dark.png" alt=""> </a>
    </div>
    <nav class="ovon-main-menu">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li class="ovon-sub"><a href="">Pages <i class="ti-angle-down"></i></a>
                <ul>
                    <li><a href="{% url 'team' %}">Team</a></li>
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="{% url 'eye-makeup' %}">Services Page</a></li>
                    <li><a href="#">Post Page</a></li>
                    <li class="ovon-sub"><a href="#">Other Pages <i class="ti-angle-down"></i></a>
                        <ul>
                            <li><a href="{% url '404' %}">404 Page</a></li>
                            <li><a href="{% url 'coming-soon' %}">Coming Soon</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <!-- Sidebar Footer -->
    <div class="ovon-footer">
        <div class="separator"></div>
        <ul>
            <li><a href="#"><i class="ti-instagram"></i></a></li>
            <li><a href="#"><i class="ti-twitter"></i></a></li>
            <li><a href="#"><i class="ti-facebook"></i></a></li>
            <li><a href="#"><i class="ti-pinterest"></i></a></li>
        </ul>
        <p>&copy; 2023 OVON by DuruThemes.</p>
        
    </div>
</aside>
